################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCAngular2_DAL/bin/Debug
/MVCAngular2/bin
/MVCAngular2/node_modules
/MVCAngular2/obj/Debug
/packages
/MVCAngular2_DAL/obj/Debug
/node_modules/ng2-bs3-modal
/node_modules
