<h1>{{welcome}}</h1>

<div class='panel panel-primary'  style="width: 496px;">
    <div class='panel-heading'>
        Games From Angular Component
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addGameAngular()">Add</button></div>
            <!--<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>-->
            <div *ngIf='games && games.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='games && games.length'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Game</th>
                        <th>Platform</th>
                        <th>Release</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of games; let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{game.game}}</td>
                        <td>{{game.platform}}</td>
                        <td>{{game.release}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editUser(game.game)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteUser(game.game)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        
    </div>
</div>


<div class='panel panel-primary' style="width: 496px;">
    <div class='panel-heading'>
      Games From Server
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addGameServer()">Add</button></div>
            <!--<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>-->
            <div *ngIf='gamesServer && gamesServer.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='gamesServer && gamesServer.length'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Game</th>
                        <th>Platform</th>
                        <th>Release</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of gamesServer; let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{game.game}}</td>
                        <td>{{game.platform}}</td>
                        <td>{{game.release}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editUser(game.game)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteUser(game.game)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        
    </div>
</div>



